<style>
    html, body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #renderCanvas {
        width: 100%;
        height: 100%;
        touch-action: none;
    }

    #dialog {
        width: 400px;
        height: 400px;
    }

    #dialog-link {
        padding: .4em 1em .4em 20px;
        text-decoration: none;
        position: relative;
    }

        #dialog-link span.ui-icon {
            margin: 0 5px 0 0;
            position: absolute;
            left: .2em;
            top: 50%;
            margin-top: -8px;
        }
</style>
<div id="dialog" title="Image details" style="display:none">
    <img id="imgDetails" />
</div>
<div class="wrapper container body-content">
    <div ng-app="searchEngineApp" ng-controller="SearchEngine3DCtrl" ng-cloak>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../Images/logo.png" style="height:50px; width:90px" />
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Databases <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="database in databases">
                                    <a href="" ng-click="setDatabase(database.Code)"><span ng-class="database.Icon" />&nbsp;{{database.Name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)" id="navigation-toggle" ng-click="toggleState()"><span class="glyphicon glyphicon-cog" />&nbsp;Options</a>   </li>
                        <li><a href="../" id="navigation-toggle"><span class="glyphicon glyphicon-cog" />&nbsp;Normal view</a></li>
                        <li><a data-target="#helpModal" data-toggle="modal" style="cursor: pointer;">Help</a></li>
                    </ul>

                </div>
            </div>
        </nav>


        <div id="dialog" title="Image details" style="display:none">
            <img id="imgDetails" />
        </div>

        <div class="container">
            <div class="sidebar" sidebar-directive="state">
                <div class="navigation">
                    <br /><br /><br />
                    <div class="container">
                        <div style="float:right; clear:both;">
                            <a href="javascript:void(0)" id="navigation-toggle" ng-click="toggleState()">
                                <span ng-if="state==true"><span class="glyphicon glyphicon-chevron-right"></span></span>
                                <span ng-if="state==false"><span class="glyphicon glyphicon-chevron-left"></span>Close </span>
                            </a>
                        </div>
                        <br />
                        <br />
 
                        <div class="tab-content" style="overflow-y:scroll; max-height:650px;">
                            <div id="menu1" class="">
                                <h3>System settings</h3>
                                <div>
                                    <div class="form-group col-md-12 col-xs-12">
                                        <label for="nrOfImages">Number of provided images:</label>
                                        <input type="text" class="form-control" id="nrOfImages" ng-model="numberOfImages" ng-bind="numberOfImages" value="20" />
                                    </div>

                                    <div class="form-group col-md-12 col-xs-12">
                                        <label for="selectProcessing">Vizualization:</label>
                                        <select name="selectProcessing" id="selectProcessing" class="form-control" ng-model="selectedVizualizationType" ng-change="setVisualization()">
                                            <option value="1" selected="selected">Planes</option>
                                            <option value="2">Cubes</option>
                                            <option value="3">Spheres</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 0 auto;">
            <img src="~/Images/loading.gif" ng-show="showLoader" style="z-index: 1000; position: absolute; margin: 0;" />
        </div>

        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content col-lg-12" style="width: 700px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Help</h4>
                    </div>
                    <div class="modal-body col-lg-12" style="max-width: 750px; max-height: 700px; text-align: justify;">
                        <img src="~/Images/logo.png" style="height:50px; width:90px" /><strong>Search Engine Image Retrieval ID-Search - v1.0 alpha</strong> <br /><br />


                        <strong>How it works</strong><br /><br />
                        <i>ID-Search</i> uses image recognition to index an image collection. It creates a unique fingerprint for each image in the collection and does not use any data associated with the images
                        to create the image recognition based fingerprint. These unique digital fingerprints describe the patterns found in the pixels of the images. <i>ID-Search</i> is able to identify even partial
                        matches of these fingerprints.
                        <br />  <i>ID-Search</i>  creates an index of all the images’ fingerprints for reference and stores them in an internal database.
                        API calls are used to add images to the index and to search through existing images.
                        Image matching is quick, and scales to handle hundreds of millions of images.
                        <br /><br />
                        <strong>Technologies</strong><br /><br />
                        Frontend: Bootstrap & Angular JS<br />
                        Backend: Web API 2 & Mongo DB

                        <br /><br />
                        <strong>Implemented features</strong><br /><br />
                        Relevance feedback algorithms: Rocchio & Relevance Feature Estimation<br />
                        Image features: MPEG 7 & Bag of Words
                        <br />
                        <br />
                        Author:
                        <img src="~/Images/me.png" style="width:120px" />
                        <a href="http://ionut.mironica.ro" target="_blank">Ionut Mironica</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<canvas id="renderCanvas"></canvas>

