<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity"
     type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
               Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDescriptorManager" type="ImageSearchEngine.DTO.Interfaces.IDescriptorManager, ImageSearchEngine.DTO"/>
    <alias alias="DescriptorManagerMongoDb" type="ImageSearchEngine.Core.DescriptorManagerMongoDb, ImageSearchEngine.Core"/>
    <alias alias="DescriptorManagerFile" type="ImageSearchEngine.Core.DescriptorManagerFile, ImageSearchEngine.Core"/>
    <container>
      <register type="IDescriptorManager"
              mapTo="DescriptorManagerFile" />
    </container>

  </unity>
  <appSettings>
    <add key="db" value="local" />
    <add key="dbIp" value="mongodb://localhost:27017" />

    <add key="ROOT" value="D:\Proiecte\ML\ImageSearchEngine\Image-Vision\ImageSearchEngine.Web\db.caltech\" />
    <add key="dbName" value="db.caltech" />
    <add key="featureNames" value="CSD,CLD" />
    <add key="computePCA" value="true" />
    <add key="computeFaces" value="true" />
    <add key="fileExtension" value="jpg" />
    <add key="fileConcepts" value="outputCaltech101Resnet50.txt" />
    <add key="includeConcepts" value="true" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
