 


<div class="wrapper container body-content">
    <div ng-app="searchEngineApp" ng-controller="TextEngineCtrl" ng-cloak>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/Images/logo.png" style="height:50px; width:90px" />
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"> 
                        <li ng-repeat="topic in topics">
                            <a href="" ng-click="setTopic(topic)">{{topic}}</a>
                        </li>
                        <li><a data-target="#helpModal" data-toggle="modal" style="cursor: pointer;">Help</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div style="margin: 0 auto;">
            <img src="~/Images/loading.gif" ng-show="showLoader" style="z-index: 1000; position: absolute; margin: 0;" />
        </div>
        <br />
        <div class="alert alert-success fade in" style="display:none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>
        <div class="alert alert-danger fade in" ng-show="isError">
            <a href="#" class="close" ng-click="hideAlert()" aria-label="close">&times;</a>
            <strong>Error!</strong> {{ErrorMessage}}
        </div>

        <div class="checkbox">
            <label><input type="checkbox" ng-model="showAdd">Add new post</label>
        </div>
        <div class="form-group" ng-show="showAdd">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" ng-bind="search"  ng-model="search"></textarea>
            <img ng-show="clasify" ng-src="response" id="inputMessageImage" />
            <button type="button" class="btn btn-info" ng-click="clasifyText()">Clasify text</button>
        </div>
 
        <div style="clear:both">
            <div class="col-md-2 col-xs-0"></div>
            <div class="col-md-10 col-xs-12" style="margin:10px; margin-left:20px;">
                <button type="button" class="btn btn-info" ng-click="reloadTopics()">View random posts</button>
                <button type="button" class="btn btn-info" ng-click="getMostPositive()">Get most positive posts</button>
                <button type="button" class="btn btn-info" ng-click="getMostNegative()">Get most negative posts</button>
            </div>
        </div>
        <br />
        <br />


        <div class="row" style="margin-left:20px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div ng-repeat="doc in texts" class="col-md-12 col-sm-12 col-xs-12" style=" margin:10px; border: 1px solid #dddddd;">
                   {{$index+1}}) {{doc.Text}}
                    <img ng-src="{{doc.src}}" />
                    <hr />
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>

        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content col-lg-12" style="width: 700px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Help</h4>
                    </div>
                    <div class="modal-body col-lg-12" style="max-width: 750px; max-height: 700px; text-align: justify;">
                        <img src="~/Images/logo.png" style="height:50px; width:90px" /><strong>Search Engine ID-Search - v1.0 alpha</strong> <br /><br />


                         
                        <strong>Technologies</strong><br /><br />
                        Frontend: Bootstrap & Angular JS<br />
                        Backend: Web API 2 & Mongo DB

 
                        <br />
                        <br />
                        Author:
                        <img src="~/Images/me.png" style="width:120px" />
                        <a href="http://ionut.mironica.ro" target="_blank">Ionut Mironica</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Search engine</p>
            <p>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Romania</p>

        </div>
    </footer>
</div>